@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');
body{
    background-color: hsl(212, 45%, 89%);
    font-family: 'Outfit', sans-serif;
    margin: 0;
    padding: 0;
}
.container{
    min-height: 100vh;
    display: flex;
    justify-content: center; /* Alignement horizontal */
    /* justify-items: center; */
    align-items: center; /* Alignement vertical */
}
.card{
    background-color: hsl(0, 0%, 100%);
    max-width: 300px;
    padding: 14px 14px 4px;
    text-align: center;
    border-radius: 18px;
}
img{
    width: 100%;
    border-radius: 12px;
}
.text{
    padding: 10px;
}
.text p{
    font-size: 15px;
    color: hsl(220, 15%, 55%);
    padding: 0 18px 4px;
}
.text h2{
    color: hsl(218, 44%, 22%);
    margin-top: 2px;
    margin-bottom: 0px;
}
